.navbar-container{
    height: 70px;
    background-color: #2F0F5D;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

.website-name {
    margin-left: 40px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    flex-grow: 1;
}

.title-link{
    text-decoration: none;
    color: antiquewhite;
}

.link-container{
    margin-right: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    font-family: sans-serif;
    padding: 20px;
    color: antiquewhite;
}

.link:hover{
    background-color: #27E1C1;
}

